[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
djangorestframework = "*"
django-cors-headers = "*"
channels = "*"
channels-redis = "*"
redis = "*"
pytest = "*"
pytest-django = "*"
gunicorn = "*"
dj-database-url = "*"
whitenoise = "*"
pandas = "*"
"psycopg2-binary" = "*"

[dev-packages]

[requires]
python_version = "3.6"
